#sec3{
    color: blueviolet;
    background-color: antiquewhite;
}
article > section{
    background-color: cornflowerblue;
}
article{
    margin: 10px;
    border: 2px solid rgb(235, 161, 161);
    
}
section{
    padding: 5px;
    font-family: cursive;
    font-size: 20px;
}
body{
    background-image: url('rohit-tandon-9wg5jCEPBsw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
     
     z-index: -1;
}
nav ul{
    display: flex;
    gap: 5px;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;  
}
nav ul li a:hover{
    background-color: rgb(153, 224, 224);
}